*{
	margin:0px;
	padding:0px;
}
h3
{
	color:#0101DF;
}
p{
	font-size:15px;
	/*font-weight:bolder;*/
	line-height:24px;
	margin-left:10px;
	margin-right:10px;
}

#pie-pag{
		width: 970px;
		height: 70px;
		margin: 0 auto;
		/*background-color: #1C1C1C;*/}
#prueba
{
	width: 970px;
	height: 310px;
	background-color: #D8D8D8;
	margin: 0 auto;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
}
#TEMATICA
{
	width: 970px;
	height: 100px;
	background-color: #5858FA;
	margin: 0 auto;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
}
#video { 	width: 970px; height: 330px; margin: 0 auto; background-color: #FFBF00; }
#importancia 
	{	
	width: 970px; 
	height: 350px; 
	background-color: #5858FA; 
	margin: 0 auto; 
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
}
#conocer
{
	width: 970px;
	height: 300px;
	background-color:#D8D8D8;
	margin: 0 auto;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
}
#tit1 { 	width: 970px; height: 10px; margin: 0 auto; }
#contenido1
{
	width: 970px;
	height: 4200px;
	background-color:#D8D8D8;
	margin: 0 auto;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
}
#contenido2
{
	width: 970px;
	height: 3550px;
	background-color:#D8D8D8;
	margin: 0 auto;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
}
#contenido3
{
	width: 970px;
	height: 1400px;
	background-color:#D8D8D8;
	margin: 0 auto;
	font-family: 'Arial';
	font-style: normal;
	font-weight: 50;
	font-size:200;
}
#Multimedia1{
	width: 970px;
	height: 1450px;
	background-color:#E6E6E6;
	margin: 0 auto;
	font-family: 'Arial';
	font-style: normal;
	font-weight: 50;
	font-size:200;
}

#Multimedia2{
	width: 970px;
	height: 4100px;
	background-color:#E6E6E6;
	margin: 0 auto;
	font-family: 'Arial';
	font-style: normal;
	font-weight: 50;
	font-size:200;
}

#Autores{
	list-style:none; /*Quitamos las viñetas de la Lista <li>*/
	width: 870px;
	height: 500px;
	background-image:url("imagenes/banderacolombia2.jpg");
	background-repeat:no-repeat;
	color:black;
	margin: 0 auto;
	font-family: 'Arial';
	font-style: normal;
	font-weight: 50;
	font-size:200;
}

#Actividades1{
	width: 970px;
	height: 600x;
	background-color:#FF8000;
	margin: 0 auto;
	font-family: 'Arial';
	font-style: normal;
	font-weight: 50;
	font-size:200;
}

#Actividade2{
	width: 970px;
	height: 600x;
	background-color:#0000FF;
	margin: 0 auto;
	font-family: 'Arial';
	font-style: normal;
	font-weight: 50;
	font-size:200;
}

#Conocer
	{	
	width: 910px;
	height: 610px;
	background-image:url("imagenes/unad fondo1.jpg");
	margin: 0 auto;
	}
#proceso
	{ 	
	width: 910px; 
	height: 720px;
	background-image:url("imagenes/sistemasoperativos-42-728.jpg"); 
	color:black;
	margin: 0 auto;
	}
#presman
	{
	width: 910px;
	height: 600px;
	background-image:url("imagenes/global-155461_640_a.png");
	background-repeat:no-repeat;
	background-position:center;
	color:red;
	margin: 0 auto;}
#modelos
	{	
	width: 850px;
	height: 2150px; 
	background-image:url("imagenes/b19e113e-112d-45a4-b666-c6ae4f2053f0.png");
	background-repeat:no-repeat;
	background-position:center;
	color:black;
	margin: 0 auto;
	}

#ubicacion{line-height:24px; margin-left:0px; margin-right:10px; vertical-align:top; }
#Contador{line-height:24px; margin-left:700px; margin-right:10px; vertical-align:top; }


#DES2
	{ 
	width: 910px; 
	height: 590px;
	background-image:url("imagenes/Sin título-3.jpg");
	background-repeat:no-repeat;
	background-position:center;
	margin: 0 auto;
	color:red; 
	}
#DesarrolloSoftware{color: black;}
#DES3
	{	
	width: 910px;
	height: 620px;
	background-color:#0101DF;
	margin: 0 auto; 
	color:white; } 
#FasesDesarrollo{color:white;}
#DES4
	{
	width: 910px; 
	height: 690px;
	background-image:url("imagenes/fondo-de-tecnologia-azu.jpg");
	margin: 0 auto;
	color:bold;
	}
#DES5
	{
	width: 910px;
	height: 1500px; 	
	background-color:#00FFFF;
	margin: 0 auto;
	color:bold; 
	}

#ModIntro
	{
	width: 910px;
	height: 710px;
	background-color:#585858; 
	margin: 0 auto;
	color:white; 
	}
#DesIntro
	{
	width: 910px;
	height: 560px;
	background-color:#FF8000; 
	margin: 0 auto;
	color:white; 
	}

#Multimedia11{	width: 910px; height: 730px; background-color:#0101DF; margin: 0 auto; color:white; }
#Multimedia12{ width: 910px; height: 630px; background-color:#FFFF00;  margin: 0 auto; color:black; }

#Multimedia13{	width: 910px; height: 500px; background-color:#FF8000; margin: 0 auto; color:white; }
#Multimedia14
	{ 
	width: 910px; 
	height: 3500px; 
	background-image:url("imagenes/culto_historia.jpg");
	/*background-repeat:no-repeat;*/
	/*background-position:center;*/
	margin: 0 auto; 
	color:blink;
	}

#AutoImg{line-height:24px; margin-left:25px; margin-right:10px; }

#datos
	{
	font-family: 'Arial';
	font-style: normal;
	font-weight: 50; 
	font-size:200;
	line-height: 100px;
	}
#Rdatos
	{
	font-family: 'Arial';
	font-style: normal;
	font-weight: 50;
	font-size:200;
	line-height: 100px;
	}

th{ vertical-align:top; text-align:left; line-height:40px; margin-left:25px; margin-right:10px; }

td{ vertical-align:top; text-align:left; line-height:50px; margin-left:25px; margin-right:10px; }

